<div class="group">
  <input type="text" required="required"/><span class="highlight"></span><span class="bar"></span>
  <label>User name</label>
</div>
<div class="group">
  <input type="password" required="required"/><span class="highlight"></span><span class="bar"></span>
  <label>New Password</label>
</div>
<div class="group">
  <input type="password" required="required"/><span class="highlight"></span><span class="bar"></span>
  <label>Comfirm Password</label>
</div>

<button class="myBtn registor" (click)="registor()">Create User</button>
