@import "~sass-text-stroke/_text-stroke";

.container {
  margin-top: calc(1rem + 40px);
  margin-bottom: calc(2rem + 14px);
  height: calc(100vh - 3rem - 54px);

  .row {
    justify-content: space-between;
    display: flex;
    height: -webkit-fill-available;
    height: -moz-fill-available;
    // height: calc(100vh - 3rem - 54px);
  }
}

.player {
  text-align: center;

  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .box {
      height: 95px;
      width: 95px;
      background-color: #C4C4C4;
      display: flex;
      margin: 0 auto;

      span {
        font-size: 24px;
        margin: auto;
      }
    }
  }



  .name {
    display: block;
    margin-top: 16px;
    margin-bottom: 0px;
  }

  &.p2 .name {
    margin-top: 6px;
    margin-bottom: 10px;
  }

  input:checked + span {
    // color: red;
    // -webkit-text-stroke: 1px green;
    // text-shadow:
    //   0px -2px 0 #fff,
    //   2px 2px 0 #fff,
    //   0px 2px 0 #fff,
    //   2px -2px 0 #fff,
    //   -2px 0px 0 #fff,
    //   -2px -2px 0 #fff,
    //   2px 0px 0 #fff,
    //   -2px 2px 0 #fff; // worked but not for all labels
    // text-shadow:
    //   -20px -16px 0 #fff,
    //   0px -20px 0 #fff,
    //   20px -14px 0 #fff,
    //   -1px -1px 0 #fff,
    //   20px 0px 0 #fff,
    //   -20px 16px 0 #fff,
    //   -2px 20px 0 #fff,
    //   15px 20px 0 #fff;

    // -webkit-text-stroke: 1px white;
    // -webkit-text-fill-color: white;
    text-shadow: text-stroke(1, white);
  }
}

hr {
  border-top: 0.2em solid black;
  margin: 1px auto;
  width: 80%;
}
