<div class="container">
  <div class="row flex-column">
    <form #compForm="ngForm">
      <div class="player p1 col-12">
        <span class="name">Computer</span>
        <section>
          <label for="comp_rock" class="box">
            <input disabled type="radio" #comp_select="ngModel" ngModel name="comp_select" value="rock" id="comp_rock" hidden="hidden">
            <span>Rock</span>
          </label>
          <label for="comp_paper" class="box">
            <input disabled type="radio" #comp_select="ngModel" ngModel name="comp_select" value="paper" id="comp_paper" hidden="hidden">
            <span>Paper</span>
          </label>
          <label for="comp_scissors" class="box">
            <input disabled type="radio" #comp_select="ngModel" ngModel name="comp_select" value="scissors" id="comp_scissors" hidden="hidden">
            <span>Scissors</span>
          </label>
        </section>
      </div>
    </form>
    <hr>
    <form #meForm="ngForm">
      <div class="player p2 col-12">
        <section>
          <label for="me_rock" class="box">
            <input type="radio" #me_select="ngModel" ngModel (change)="mySelection($event.target.value, compForm, meForm)" name="me_select" value="rock" id="me_rock" hidden="hidden">
            <span>Rock</span>
          </label>
          <label for="me_paper" class="box">
            <input type="radio" #me_select="ngModel" ngModel (change)="mySelection($event.target.value, compForm, meForm)" name="me_select" value="paper" id="me_paper" hidden="hidden">
            <span>Paper</span>
          </label>
          <label for="me_scissors" class="box">
            <input type="radio" #me_select="ngModel" ngModel (change)="mySelection($event.target.value, compForm, meForm)" name="me_select" value="scissors" id="me_scissors" hidden="hidden">
            <span>Scissors</span>
          </label>
        </section>
        <span class="name">Me</span>
      </div>
    </form>
  </div>
</div>

<!-- <app-pop-ups [results]="results"></app-pop-ups> -->
<div class="alertMsg" [hidden]="!showMsg">
  <div class="message-wrapper">
    <div class="massage_body">
      <img [src]="src" alt="">
    </div>
    <!-- <hr> -->
    <div class="message_actions">
      <button (click)='close(compForm, meForm)' class="col-6 btn">
        Retry
      </button>
      <button (click)='close(compForm, meForm)' class="col-6 btn">
        Exit
      </button>
    </div>
  </div>

</div>
