<div class="container">
  <div class="row flex-column">
    <div class="player p1 col-12">
      <span class="name">Computer</span>
      <section>
        <label class="box">
          <span>Rock</span>
        </label>
        <label class="box">
          <span>Paper</span>
        </label>
        <label class="box">
          <span>Scissors</span>
        </label>
      </section>
    </div>
    <hr>
    <div class="player p2 col-12">
      <section>
        <label class="box">
          <span>Rock</span>
        </label>
        <label class="box">
          <span>Paper</span>
        </label>
        <label class="box">
          <span>Scissors</span>
        </label>
      </section>
      <span class="name">Me</span>
    </div>
  </div>
</div>
